@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

section {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 25px;
  padding-bottom: 30px;
  margin: auto;
  width: 240px; /* Ajuste conforme necessário */
  text-align: center;
}

.img {
  width: 15rem;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

h3 {
  font-size: 16px;
  margin: 10px 0;
  padding-top: 15px;
}

p {
  font-size: 13px;
  color: hsl(220, 15%, 55%);
  margin: 10px 0;
  padding-top: 10px;
}
